@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


/* Estilos generales */
* {
    font-family: 'Lexend Deca', sans-serif; /* Fuente predeterminada para todo el cuerpo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
    color: #caeef8;
    position: relative; /* Requerido para el posicionamiento del video */
}
  
/* Video de fondo */
#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
  
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.password-container {
    width: 70vw;
    max-width: 500px;
    background: rgb(24,120,216, 0.6); /* Fondo semitransparente */
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #caeef8;
}
  
input,
button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #caeef8;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75); /* Borde semitransparente */
    border-radius: 5px;
    transition: 0.4s ease;
}
  
input::placeholder {
    color: #041d49; /* Color del placeholder */
}
  
input:focus {
    border-color: #111; /* Color más oscuro en foco */
    outline: none;
}
  
button {
    background-color: #041d49; /* Color del botón */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}
  
button:hover {
    background-color: #caeef8;
    color: #041d49; /* Color más oscuro en hover */
}
  
.label-text {
    display: block;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
  
.tip {
    text-align: right;
    color: #041d49;
    font-size: 0.75rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
  
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
  
.logo {
    width: 60px; /* Logo ajustado a 60px */
    height: auto;
    margin-right: 20px;
}
  
h1 {
    font-size: 40px;
    margin: 0;
    color: #caeef8;
}
  
.link {
    text-align: center;
    margin-top: 10px;
}
  
.link a {
    color: #caeef8;
    text-decoration: none;
}
  
.link a:hover {
    text-decoration: underline;
    color: #caeef8;
}
  
/* Ícono de cerrar */
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #041d49;
}
  
.close-icon a {
    text-decoration: none;
    color: #041d49;
}
